In [45]:
import pymongo

In [46]:
Client = pymongo.MongoClient("mongodb://localhost:27017/")

In [47]:
forbes1 = Client['forbes2000']
collection_name = 'Forbes2015'
db_forbes = forbes1[collection_name]

In [48]:
import pandas as pd

In [49]:
f1 = pd.read_csv("C:/Users/Yash/Desktop/SM/Forbes2000.csv")
f1.head()

,Unnamed: 0,rank,name,country,category,sales,profits,assets,marketvalue
0,1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

In [50]:
f1.drop(['Unnamed: 0'],1,inplace = True)
f1.head()

,rank,name,country,category,sales,profits,assets,marketvalue
0,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

In [9]:
import json

In [10]:
Forbes_json = json.loads(f1.to_json(orient='records'))
print(Forbes_json[0:5])

[{'rank': 1, 'name': 'Citigroup', 'country': 'United States', 'category': 'Banking', 'sales': 94.71, 'profits': 17.85, 'assets': 1264.03, 'marketvalue': 255.3}, {'rank': 2, 'name': 'General Electric', 'country': 'United States', 'category': 'Conglomerates', 'sales': 134.19, 'profits': 15.59, 'assets': 626.93, 'marketvalue': 328.54}, {'rank': 3, 'name': 'American Intl Group', 'country': 'United States', 'category': 'Insurance', 'sales': 76.66, 'profits': 6.46, 'assets': 647.66, 'marketvalue': 194.87}, {'rank': 4, 'name': 'ExxonMobil', 'country': 'United States', 'category': 'Oil & gas operations', 'sales': 222.88, 'profits': 20.96, 'assets': 166.99, 'marketvalue': 277.02}, {'rank': 5, 'name': 'BP', 'country': 'United Kingdom', 'category': 'Oil & gas operations', 'sales': 232.57, 'profits': 10.27, 'assets': 177.57, 'marketvalue': 173.54}]

In [12]:
db_forbes.insert(Forbes_json)

In [14]:
db_forbes.Forbes2015.find()

In [51]:
db_forbes.find_one()

{'_id': ObjectId('5e5210d0fa600457e70a62ac'),
 'rank': 1,
 'name': 'Citigroup',
 'country': 'United States',
 'category': 'Banking',
 'sales': 94.71,
 'profits': 17.85,
 'assets': 1264.03,
 'marketvalue': 255.3}

In [52]:
print(db_forbes.find_one({'rank':10}))

{'_id': ObjectId('5e5210d0fa600457e70a62b5'), 'rank': 10, 'name': 'Wal-Mart Stores', 'country': 'United States', 'category': 'Retailing', 'sales': 256.33, 'profits': 9.05, 'assets': 104.91, 'marketvalue': 243.74}

In [53]:
a1 = db_forbes.find({'sales':{'$gt':100}})
for a in a1:
    print(a)

{'_id': ObjectId('5e5210d0fa600457e70a62ad'), 'rank': 2, 'name': 'General Electric', 'country': 'United States', 'category': 'Conglomerates', 'sales': 134.19, 'profits': 15.59, 'assets': 626.93, 'marketvalue': 328.54}
{'_id': ObjectId('5e5210d0fa600457e70a62af'), 'rank': 4, 'name': 'ExxonMobil', 'country': 'United States', 'category': 'Oil & gas operations', 'sales': 222.88, 'profits': 20.96, 'assets': 166.99, 'marketvalue': 277.02}
{'_id': ObjectId('5e5210d0fa600457e70a62b0'), 'rank': 5, 'name': 'BP', 'country': 'United Kingdom', 'category': 'Oil & gas operations', 'sales': 232.57, 'profits': 10.27, 'assets': 177.57, 'marketvalue': 173.54}
{'_id': ObjectId('5e5210d0fa600457e70a62b3'), 'rank': 8, 'name': 'Toyota Motor', 'country': 'Japan', 'category': 'Consumer durables', 'sales': 135.82, 'profits': 7.99, 'assets': 171.71, 'marketvalue': 115.4}
{'_id': ObjectId('5e5210d0fa600457e70a62b5'), 'rank': 10, 'name': 'Wal-Mart Stores', 'country': 'United States', 'category': 'Retailing', 'sales': 256.33, 'profits': 9.05, 'assets': 104.91, 'marketvalue': 243.74}
{'_id': ObjectId('5e5210d0fa600457e70a62b8'), 'rank': 13, 'name': 'Royal Dutch/Shell Group', 'country': 'Netherlands/ United Kingdom', 'category': 'Oil & gas operations', 'sales': 133.5, 'profits': 8.4, 'assets': 100.72, 'marketvalue': 163.45}
{'_id': ObjectId('5e5210d0fa600457e70a62bc'), 'rank': 17, 'name': 'Total', 'country': 'France', 'category': 'Oil & gas operations', 'sales': 131.64, 'profits': 8.84, 'assets': 87.84, 'marketvalue': 116.64}
{'_id': ObjectId('5e5210d0fa600457e70a62c0'), 'rank': 21, 'name': 'DaimlerChrysler', 'country': 'Germany', 'category': 'Consumer durables', 'sales': 157.13, 'profits': 5.12, 'assets': 195.58, 'marketvalue': 47.43}
{'_id': ObjectId('5e5210d0fa600457e70a62c2'), 'rank': 23, 'name': 'ChevronTexaco', 'country': 'United States', 'category': 'Oil & gas operations', 'sales': 112.94, 'profits': 7.43, 'assets': 82.36, 'marketvalue': 92.49}
{'_id': ObjectId('5e5210d0fa600457e70a62c8'), 'rank': 29, 'name': 'General Motors', 'country': 'United States', 'category': 'Consumer durables', 'sales': 185.52, 'profits': 3.82, 'assets': 450.0, 'marketvalue': 27.47}
{'_id': ObjectId('5e5210d0fa600457e70a62f6'), 'rank': 75, 'name': 'Ford Motor', 'country': 'United States', 'category': 'Consumer durables', 'sales': 164.2, 'profits': 0.76, 'assets': 312.56, 'marketvalue': 26.29}
{'_id': ObjectId('5e5210d0fa600457e70a6347'), 'rank': 156, 'name': 'Mitsubishi', 'country': 'Japan', 'category': 'Trading companies', 'sales': 112.76, 'profits': 0.46, 'assets': 67.69, 'marketvalue': 15.13}
{'_id': ObjectId('5e5210d0fa600457e70a638c'), 'rank': 225, 'name': 'Mitsui & Co', 'country': 'Japan', 'category': 'Trading companies', 'sales': 111.98, 'profits': 0.28, 'assets': 54.88, 'marketvalue': 12.3}

In [65]:
a2 = db_forbes.find({'country':'India'})
for a in a2:
    print(a)

{'_id': ObjectId('5e5210d0fa600457e70a639e'), 'rank': 243, 'name': 'Indian Oil', 'country': 'India', 'category': 'Oil & gas operations', 'sales': 25.26, 'profits': 1.39, 'assets': 13.74, 'marketvalue': 12.93}
{'_id': ObjectId('5e5210d0fa600457e70a63a6'), 'rank': 251, 'name': 'State Bank of India Group', 'country': 'India', 'category': 'Banking', 'sales': 10.37, 'profits': 0.88, 'assets': 104.8, 'marketvalue': 7.34}
{'_id': ObjectId('5e5210d0fa600457e70a63bc'), 'rank': 273, 'name': 'Oil & Natural Gas', 'country': 'India', 'category': 'Oil & gas operations', 'sales': 7.01, 'profits': 2.2, 'assets': 15.75, 'marketvalue': 23.26}
{'_id': ObjectId('5e5210d0fa600457e70a63da'), 'rank': 303, 'name': 'Reliance Industries', 'country': 'India', 'category': 'Oil & gas operations', 'sales': 9.57, 'profits': 0.84, 'assets': 13.49, 'marketvalue': 18.4}
{'_id': ObjectId('5e5210d0fa600457e70a65cf'), 'rank': 804, 'name': 'Bharat Petroleum', 'country': 'India', 'category': 'Oil & gas operations', 'sales': 11.97, 'profits': 0.32, 'assets': 4.7, 'marketvalue': 3.22}
{'_id': ObjectId('5e5210d0fa600457e70a65df'), 'rank': 820, 'name': 'ICICI Bank', 'country': 'India', 'category': 'Banking', 'sales': 2.57, 'profits': 0.24, 'assets': 22.94, 'marketvalue': 4.22}
{'_id': ObjectId('5e5210d0fa600457e70a6603'), 'rank': 856, 'name': 'Hindustan Petroleum', 'country': 'India', 'category': 'Oil & gas operations', 'sales': 10.16, 'profits': 0.31, 'assets': 3.84, 'marketvalue': 3.61}
{'_id': ObjectId('5e5210d0fa600457e70a6781'), 'rank': 1238, 'name': 'GAIL (India)', 'country': 'India', 'category': 'Utilities', 'sales': 2.39, 'profits': 0.35, 'assets': 3.14, 'marketvalue': 4.25}
{'_id': ObjectId('5e5210d0fa600457e70a67a2'), 'rank': 1271, 'name': 'Canara Bank', 'country': 'India', 'category': 'Banking', 'sales': 1.76, 'profits': 0.22, 'assets': 17.53, 'marketvalue': 1.32}
{'_id': ObjectId('5e5210d0fa600457e70a67b1'), 'rank': 1286, 'name': 'Punjab National Bank', 'country': 'India', 'category': 'Banking', 'sales': 1.91, 'profits': 0.2, 'assets': 18.54, 'marketvalue': 1.63}
{'_id': ObjectId('5e5210d0fa600457e70a67ca'), 'rank': 1311, 'name': 'ITC', 'country': 'India', 'category': 'Food drink & tobacco', 'sales': 1.3, 'profits': 0.29, 'assets': 1.8, 'marketvalue': 5.81}
{'_id': ObjectId('5e5210d0fa600457e70a67d3'), 'rank': 1320, 'name': 'Infosys Technologies', 'country': 'India', 'category': 'Business services & supplies', 'sales': 0.77, 'profits': 0.2, 'assets': 0.75, 'marketvalue': 7.91}
{'_id': ObjectId('5e5210d0fa600457e70a67ea'), 'rank': 1343, 'name': 'Wipro', 'country': 'India', 'category': 'Business services & supplies', 'sales': 0.9, 'profits': 0.18, 'assets': 0.88, 'marketvalue': 8.38}
{'_id': ObjectId('5e5210d0fa600457e70a67eb'), 'rank': 1344, 'name': 'Bank of India', 'country': 'India', 'category': 'Banking', 'sales': 1.59, 'profits': 0.18, 'assets': 16.16, 'marketvalue': 0.72}
{'_id': ObjectId('5e5210d0fa600457e70a67f9'), 'rank': 1358, 'name': 'Bank of Baroda', 'country': 'India', 'category': 'Banking', 'sales': 1.61, 'profits': 0.18, 'assets': 16.48, 'marketvalue': 1.62}
{'_id': ObjectId('5e5210d0fa600457e70a680f'), 'rank': 1380, 'name': 'HDFC-Housing Devel', 'country': 'India', 'category': 'Diversified financials', 'sales': 0.65, 'profits': 0.16, 'assets': 6.08, 'marketvalue': 3.65}
{'_id': ObjectId('5e5210d0fa600457e70a681c'), 'rank': 1393, 'name': 'Steel Authority of India', 'country': 'India', 'category': 'Materials', 'sales': 3.7, 'profits': -0.1, 'assets': 4.94, 'marketvalue': 4.31}
{'_id': ObjectId('5e5210d0fa600457e70a68a5'), 'rank': 1530, 'name': 'Tata Iron & Steel', 'country': 'India', 'category': 'Materials', 'sales': 1.92, 'profits': 0.22, 'assets': 2.69, 'marketvalue': 3.59}
{'_id': ObjectId('5e5210d0fa600457e70a68be'), 'rank': 1555, 'name': 'Indl Dev Bank of India', 'country': 'India', 'category': 'Banking', 'sales': 1.56, 'profits': 0.11, 'assets': 15.49, 'marketvalue': 1.08}
{'_id': ObjectId('5e5210d0fa600457e70a6900'), 'rank': 1621, 'name': 'Ranbaxy Laboratories', 'country': 'India', 'category': 'Drugs & biotechnology', 'sales': 0.99, 'profits': 0.16, 'assets': 0.68, 'marketvalue': 4.11}
{'_id': ObjectId('5e5210d0fa600457e70a6915'), 'rank': 1642, 'name': 'Union Bank of India', 'country': 'India', 'category': 'Banking', 'sales': 1.08, 'profits': 0.12, 'assets': 10.75, 'marketvalue': 0.55}
{'_id': ObjectId('5e5210d0fa600457e70a6a2d'), 'rank': 1922, 'name': 'Mahanagar Telephone Nigam', 'country': 'India', 'category': 'Telecommunications services', 'sales': 1.22, 'profits': 0.19, 'assets': 4.06, 'marketvalue': 1.9}
{'_id': ObjectId('5e5210d0fa600457e70a6a62'), 'rank': 1975, 'name': 'Neyveli Lignite', 'country': 'India', 'category': 'Materials', 'sales': 0.54, 'profits': 0.24, 'assets': 2.02, 'marketvalue': 2.12}
{'_id': ObjectId('5e5210d0fa600457e70a6a6a'), 'rank': 1983, 'name': 'Bharti Tele-Ventures', 'country': 'India', 'category': 'Telecommunications services', 'sales': 0.64, 'profits': -0.04, 'assets': 1.91, 'marketvalue': 6.29}
{'_id': ObjectId('5e5210d0fa600457e70a6a6b'), 'rank': 1984, 'name': 'Indian Overseas Bank', 'country': 'India', 'category': 'Banking', 'sales': 0.84, 'profits': 0.09, 'assets': 8.68, 'marketvalue': 0.54}
{'_id': ObjectId('5e5210d0fa600457e70a6a79'), 'rank': 1998, 'name': 'Hindalco Industries', 'country': 'India', 'category': 'Materials', 'sales': 1.35, 'profits': 0.14, 'assets': 2.47, 'marketvalue': 2.76}
{'_id': ObjectId('5e5210d0fa600457e70a6a7b'), 'rank': 2000, 'name': 'Oriental Bank of Commerce', 'country': 'India', 'category': 'Banking', 'sales': 0.81, 'profits': 0.1, 'assets': 7.16, 'marketvalue': 1.17}

In [57]:
print(db_forbes.find({'country':'India'}).count())

27

C:\Users\Yash\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

In [63]:
print(sorted(db_forbes.distinct('country')))

['Africa', 'Australia', 'Australia/ United Kingdom', 'Austria', 'Bahamas', 'Belgium', 'Bermuda', 'Brazil', 'Canada', 'Cayman Islands', 'Chile', 'China', 'Czech Republic', 'Denmark', 'Finland', 'France', 'France/ United Kingdom', 'Germany', 'Greece', 'Hong Kong/China', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Islands', 'Israel', 'Italy', 'Japan', 'Jordan', 'Kong/China', 'Korea', 'Liberia', 'Luxembourg', 'Malaysia', 'Mexico', 'Netherlands', 'Netherlands/ United Kingdom', 'New Zealand', 'Norway', 'Pakistan', 'Panama/ United Kingdom', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Russia', 'Singapore', 'South Africa', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'United Kingdom', 'United Kingdom/ Australia', 'United Kingdom/ Netherlands', 'United Kingdom/ South Africa', 'United States', 'Venezuela']

In [66]:
print(sorted(db_forbes.distinct('category')))

['Aerospace & defense', 'Banking', 'Business services & supplies', 'Capital goods', 'Chemicals', 'Conglomerates', 'Construction', 'Consumer durables', 'Diversified financials', 'Drugs & biotechnology', 'Food drink & tobacco', 'Food markets', 'Health care equipment & services', 'Hotels restaurants & leisure', 'Household & personal products', 'Insurance', 'Materials', 'Media', 'Oil & gas operations', 'Retailing', 'Semiconductors', 'Software & services', 'Technology hardware & equipment', 'Telecommunications services', 'Trading companies', 'Transportation', 'Utilities']